node_modules
artifacts
lib
scripts
.local
.git
*.tsbuildinfo
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsconfig.base.json
package.json
package-lock.json
.npmrc
.replit
.replitignore
replit.md
__pycache__
*.pyc
